.sidebarchat{
    display: flex;
    align-items: center;
    padding: 20px ;
    border-bottom: 1px solid lightgray;
    cursor: pointer;

    &:hover{
        background-color: #3e93fd;
        color: white;
    }

    &_info{
        margin-left: 15px;
        position: relative;
        width: 100%;
        text-align: left;
        &>p{
            width: 12rem;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        &>small{
            position: absolute;
            top: 5px;
            right: 0;
        }
    }
}